@font-face {
  font-family: 'cpt-icon';
  src:  url('fonts/cpt-icon.eot?wydmrz');
  src:  url('fonts/cpt-icon.eot?wydmrz#iefix') format('embedded-opentype'),
    url('fonts/cpt-icon.ttf?wydmrz') format('truetype'),
    url('fonts/cpt-icon.woff?wydmrz') format('woff'),
    url('fonts/cpt-icon.svg?wydmrz#cpt-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cpt-"], [class*=" cpt-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cpt-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cpt-home:before {
  content: "\e900";
}
.cpt-map-mark:before {
  content: "\e901";
}
.cpt-speech-bubble:before {
  content: "\e902";
}
.cpt-thought-bubble:before {
  content: "\e903";
}
.cpt-cloud:before {
  content: "\e904";
}
.cpt-gear:before {
  content: "\e905";
}
.cpt-gears:before {
  content: "\e906";
}
.cpt-heart:before {
  content: "\e907";
}
.cpt-lock:before {
  content: "\e908";
}
.cpt-unlock:before {
  content: "\e909";
}
.cpt-redo:before {
  content: "\e90a";
}
.cpt-redo-2:before {
  content: "\e90b";
}
.cpt-clock:before {
  content: "\e90c";
}
.cpt-gage:before {
  content: "\e90d";
}
.cpt-compass:before {
  content: "\e90e";
}
.cpt-timer:before {
  content: "\e90f";
}
.cpt-inbox:before {
  content: "\e910";
}
.cpt-outbox:before {
  content: "\e911";
}
.cpt-envelop:before {
  content: "\e912";
}
.cpt-tag:before {
  content: "\e913";
}
.cpt-eye:before {
  content: "\e914";
}
.cpt-star:before {
  content: "\e915";
}
.cpt-phone:before {
  content: "\e916";
}
.cpt-screen:before {
  content: "\e917";
}
.cpt-mp3:before {
  content: "\e918";
}
.cpt-camera:before {
  content: "\e919";
}
.cpt-case:before {
  content: "\e91a";
}
.cpt-shelf:before {
  content: "\e91b";
}
.cpt-umbrella:before {
  content: "\e91c";
}
.cpt-trash:before {
  content: "\e91d";
}
.cpt-cart:before {
  content: "\e91e";
}
.cpt-shopping-cart:before {
  content: "\e91f";
}
.cpt-calendar:before {
  content: "\e920";
}
.cpt-beer:before {
  content: "\e921";
}
.cpt-tube:before {
  content: "\e922";
}
.cpt-puzzle:before {
  content: "\e923";
}
.cpt-sun:before {
  content: "\e924";
}
.cpt-map:before {
  content: "\e925";
}
.cpt-palette:before {
  content: "\e926";
}
.cpt-light-bulb:before {
  content: "\e927";
}
.cpt-041:before {
  content: "\e928";
}
.cpt-bandage:before {
  content: "\e929";
}
.cpt-list:before {
  content: "\e92a";
}
.cpt-number-list:before {
  content: "\e92b";
}
.cpt-questionmark:before {
  content: "\e92c";
}
.cpt-page:before {
  content: "\e92d";
}
.cpt-page-2:before {
  content: "\e92e";
}
.cpt-user:before {
  content: "\e92f";
}
.cpt-user-2:before {
  content: "\e930";
}
.cpt-users:before {
  content: "\e931";
}
.cpt-users-2:before {
  content: "\e932";
}
.cpt-mouse:before {
  content: "\e933";
}
.cpt-keyboard:before {
  content: "\e934";
}
.cpt-pencil:before {
  content: "\e935";
}
.cpt-checkmark:before {
  content: "\e936";
}
.cpt-checkbox:before {
  content: "\e937";
}
.cpt-x:before {
  content: "\e938";
}
.cpt-x-box:before {
  content: "\e939";
}
.cpt-plus:before {
  content: "\e93a";
}
.cpt-lightning:before {
  content: "\e93b";
}
.cpt-finger:before {
  content: "\e93c";
}
.cpt-laptop:before {
  content: "\e93d";
}
.cpt-teacup:before {
  content: "\e93e";
}
.cpt-lightning-2:before {
  content: "\e93f";
}
.cpt-egg:before {
  content: "\e940";
}
.cpt-066:before {
  content: "\e941";
}
.cpt-record:before {
  content: "\e942";
}
.cpt-idea:before {
  content: "\e943";
}
.cpt-speaker:before {
  content: "\e944";
}
.cpt-tv:before {
  content: "\e945";
}
.cpt-pen:before {
  content: "\e946";
}
.cpt-screwdriver:before {
  content: "\e947";
}
.cpt-record-player:before {
  content: "\e948";
}
.cpt-usb:before {
  content: "\e949";
}
.cpt-lamp:before {
  content: "\e94a";
}
.cpt-controller:before {
  content: "\e94b";
}
.cpt-controller-2:before {
  content: "\e94c";
}
.cpt-photo:before {
  content: "\e94d";
}
.cpt-books:before {
  content: "\e94e";
}
.cpt-080:before {
  content: "\e94f";
}
.cpt-glasses:before {
  content: "\e950";
}
.cpt-cash:before {
  content: "\e951";
}
.cpt-083:before {
  content: "\e952";
}
.cpt-music-notes:before {
  content: "\e953";
}
.cpt-music-note:before {
  content: "\e954";
}
.cpt-power:before {
  content: "\e955";
}
.cpt-zoom:before {
  content: "\e956";
}
.cpt-zoom-out:before {
  content: "\e957";
}
.cpt-dining:before {
  content: "\e958";
}
.cpt-printer:before {
  content: "\e959";
}
.cpt-facebook:before {
  content: "\e95a";
}
.cpt-facebook-square:before {
  content: "\e95b";
}
.cpt-facebook-circle:before {
  content: "\e95c";
}
.cpt-twitter:before {
  content: "\e95d";
}
.cpt-twitter-square:before {
  content: "\e95e";
}
.cpt-twitter-circle:before {
  content: "\e95f";
}
.cpt-097:before {
  content: "\e960";
}
.cpt-098:before {
  content: "\e961";
}
.cpt-099:before {
  content: "\e962";
}
.cpt-100:before {
  content: "\e963";
}
.cpt-101:before {
  content: "\e964";
}
.cpt-102:before {
  content: "\e965";
}
.cpt-google:before {
  content: "\e966";
}
.cpt-google-square:before {
  content: "\e967";
}
.cpt-google-circle:before {
  content: "\e968";
}
.cpt-106:before {
  content: "\e969";
}
.cpt-107:before {
  content: "\e96a";
}
.cpt-108:before {
  content: "\e96b";
}
.cpt-linkedin:before {
  content: "\e96c";
}
.cpt-linkedin-square:before {
  content: "\e96d";
}
.cpt-linkedin-circle:before {
  content: "\e96e";
}
.cpt-112:before {
  content: "\e96f";
}
.cpt-113:before {
  content: "\e970";
}
.cpt-114:before {
  content: "\e971";
}
.cpt-115:before {
  content: "\e972";
}
.cpt-116:before {
  content: "\e973";
}
.cpt-117:before {
  content: "\e974";
}
.cpt-118:before {
  content: "\e975";
}
.cpt-119:before {
  content: "\e976";
}
.cpt-120:before {
  content: "\e977";
}
.cpt-121:before {
  content: "\e978";
}
.cpt-122:before {
  content: "\e979";
}
.cpt-123:before {
  content: "\e97a";
}
.cpt-124:before {
  content: "\e97b";
}
.cpt-125:before {
  content: "\e97c";
}
.cpt-126:before {
  content: "\e97d";
}
.cpt-at:before {
  content: "\e97e";
}
.cpt-die:before {
  content: "\e97f";
}
.cpt-129:before {
  content: "\e980";
}
.cpt-130:before {
  content: "\e981";
}
.cpt-css:before {
  content: "\e982";
}
.cpt-132:before {
  content: "\e983";
}
.cpt-stash:before {
  content: "\e984";
}
.cpt-box:before {
  content: "\e985";
}
.cpt-folder:before {
  content: "\e986";
}
.cpt-136:before {
  content: "\e987";
}
.cpt-137:before {
  content: "\e988";
}
.cpt-button:before {
  content: "\e989";
}
.cpt-139:before {
  content: "\e98a";
}
.cpt-140:before {
  content: "\e98b";
}
.cpt-chat:before {
  content: "\e98c";
}
.cpt-keys:before {
  content: "\e98d";
}
.cpt-tack:before {
  content: "\e98e";
}
.cpt-address-book:before {
  content: "\e98f";
}
.cpt-145:before {
  content: "\e990";
}
.cpt-146:before {
  content: "\e991";
}
.cpt-147:before {
  content: "\e992";
}
.cpt-148:before {
  content: "\e993";
}
.cpt-149:before {
  content: "\e994";
}
.cpt-150:before {
  content: "\e995";
}
.cpt-151:before {
  content: "\e996";
}
.cpt-152:before {
  content: "\e997";
}
.cpt-153:before {
  content: "\e998";
}
.cpt-154:before {
  content: "\e999";
}
.cpt-155:before {
  content: "\e99a";
}
.cpt-156:before {
  content: "\e99b";
}
.cpt-157:before {
  content: "\e99c";
}
.cpt-158:before {
  content: "\e99d";
}
.cpt-159:before {
  content: "\e99e";
}
.cpt-160:before {
  content: "\e99f";
}
.cpt-161:before {
  content: "\e9a0";
}
.cpt-162:before {
  content: "\e9a1";
}
.cpt-163:before {
  content: "\e9a2";
}
.cpt-164:before {
  content: "\e9a3";
}
.cpt-165:before {
  content: "\e9a4";
}
.cpt-pie-chart:before {
  content: "\e9a5";
}
.cpt-ruler:before {
  content: "\e9a6";
}
.cpt-slice:before {
  content: "\e9a7";
}
.cpt-bike:before {
  content: "\e9a8";
}
.cpt-tennis:before {
  content: "\e9a9";
}
.cpt-soccer:before {
  content: "\e9aa";
}
.cpt-basketball:before {
  content: "\e9ab";
}
.cpt-football:before {
  content: "\e9ac";
}
.cpt-foot:before {
  content: "\e9ad";
}
.cpt-shroom:before {
  content: "\e9ae";
}
.cpt-176:before {
  content: "\e9af";
}
.cpt-177:before {
  content: "\e9b0";
}
.cpt-log:before {
  content: "\e9b1";
}
.cpt-rake:before {
  content: "\e9b2";
}
.cpt-bone:before {
  content: "\e9b3";
}
.cpt-paw:before {
  content: "\e9b4";
}
.cpt-hanger:before {
  content: "\e9b5";
}
.cpt-key:before {
  content: "\e9b6";
}
.cpt-184:before {
  content: "\e9b7";
}
.cpt-pacman:before {
  content: "\e9b8";
}
.cpt-ticket:before {
  content: "\e9b9";
}
.cpt-187:before {
  content: "\e9ba";
}
.cpt-188:before {
  content: "\e9bb";
}
.cpt-189:before {
  content: "\e9bc";
}
.cpt-190:before {
  content: "\e9bd";
}
.cpt-191:before {
  content: "\e9be";
}
.cpt-192:before {
  content: "\e9bf";
}
.cpt-193:before {
  content: "\e9c0";
}
.cpt-home-2:before {
  content: "\e9c1";
}
.cpt-book:before {
  content: "\e9c2";
}
.cpt-pizza:before {
  content: "\e9c3";
}
.cpt-197:before {
  content: "\e9c4";
}
.cpt-store:before {
  content: "\e9c5";
}
.cpt-target:before {
  content: "\e9c6";
}
.cpt-bullseye:before {
  content: "\e9c7";
}
.cpt-eightball:before {
  content: "\e9c8";
}
.cpt-pin:before {
  content: "\e9c9";
}
.cpt-203:before {
  content: "\e9ca";
}
.cpt-fishbone:before {
  content: "\e9cb";
}
.cpt-205:before {
  content: "\e9cc";
}
.cpt-206:before {
  content: "\e9cd";
}
.cpt-207:before {
  content: "\e9ce";
}
.cpt-208:before {
  content: "\e9cf";
}
.cpt-209:before {
  content: "\e9d0";
}
.cpt-210:before {
  content: "\e9d1";
}
.cpt-thumb-up:before {
  content: "\e9d2";
}
.cpt-thumb-down:before {
  content: "\e9d3";
}
.cpt-cheeze:before {
  content: "\e9d4";
}
.cpt-cheese:before {
  content: "\e9d5";
}
.cpt-bread:before {
  content: "\e9d6";
}
.cpt-coffee:before {
  content: "\e9d7";
}
.cpt-quil:before {
  content: "\e9d8";
}
.cpt-feather:before {
  content: "\e9d9";
}
.cpt-ink:before {
  content: "\e9da";
}
.cpt-earth:before {
  content: "\e9db";
}
.cpt-221:before {
  content: "\e9dc";
}
.cpt-222:before {
  content: "\e9dd";
}
.cpt-223:before {
  content: "\e9de";
}
.cpt-paper-airplane:before {
  content: "\e9df";
}
.cpt-225:before {
  content: "\e9e0";
}
.cpt-floppy-disc:before {
  content: "\e9e1";
}
.cpt-headphones:before {
  content: "\e9e2";
}
.cpt-228:before {
  content: "\e9e3";
}
.cpt-229:before {
  content: "\e9e4";
}
.cpt-tag-2:before {
  content: "\e9e5";
}
.cpt-sun-clouds:before {
  content: "\e9e6";
}
.cpt-232:before {
  content: "\e9e7";
}
.cpt-233:before {
  content: "\e9e8";
}
.cpt-234:before {
  content: "\e9e9";
}
.cpt-235:before {
  content: "\e9ea";
}
.cpt-236:before {
  content: "\e9eb";
}
.cpt-237:before {
  content: "\e9ec";
}
.cpt-238:before {
  content: "\e9ed";
}
.cpt-tie:before {
  content: "\e9ee";
}
.cpt-bow-tie:before {
  content: "\e9ef";
}
.cpt-soda:before {
  content: "\e9f0";
}
.cpt-shades:before {
  content: "\e9f1";
}
.cpt-quote:before {
  content: "\e9f2";
}
.cpt-quote-1:before {
  content: "\e9f3";
}
.cpt-link:before {
  content: "\e9f4";
}
.cpt-246:before {
  content: "\e9f5";
}
.cpt-dots:before {
  content: "\e9f6";
}
.cpt-248:before {
  content: "\e9f7";
}
.cpt-expand:before {
  content: "\e9f8";
}
.cpt-shrink:before {
  content: "\e9f9";
}
.cpt-251:before {
  content: "\e9fa";
}
.cpt-252:before {
  content: "\e9fb";
}
.cpt-253:before {
  content: "\e9fc";
}
.cpt-254:before {
  content: "\e9fd";
}
.cpt-255:before {
  content: "\e9fe";
}
.cpt-256:before {
  content: "\e9ff";
}
.cpt-257:before {
  content: "\ea00";
}
.cpt-258:before {
  content: "\ea01";
}
.cpt-259:before {
  content: "\ea02";
}
.cpt-260:before {
  content: "\ea03";
}
.cpt-261:before {
  content: "\ea04";
}
.cpt-262:before {
  content: "\ea05";
}
.cpt-263:before {
  content: "\ea06";
}
.cpt-264:before {
  content: "\ea07";
}
.cpt-stamp:before {
  content: "\ea08";
}
.cpt-266:before {
  content: "\ea09";
}
.cpt-knife:before {
  content: "\ea0a";
}
.cpt-268:before {
  content: "\ea0b";
}
.cpt-stars:before {
  content: "\ea0c";
}
.cpt-270:before {
  content: "\ea0d";
}
.cpt-tp:before {
  content: "\ea0e";
}
.cpt-272:before {
  content: "\ea0f";
}
.cpt-paintbrush:before {
  content: "\ea10";
}
.cpt-clip:before {
  content: "\ea11";
}
.cpt-tools:before {
  content: "\ea12";
}
.cpt-right:before {
  content: "\ea13";
}
.cpt-277:before {
  content: "\ea14";
}
.cpt-278:before {
  content: "\ea15";
}
.cpt-279:before {
  content: "\ea16";
}
.cpt-280:before {
  content: "\ea17";
}
.cpt-281:before {
  content: "\ea18";
}
.cpt-282:before {
  content: "\ea19";
}
.cpt-283:before {
  content: "\ea1a";
}
.cpt-284:before {
  content: "\ea1b";
}
.cpt-285:before {
  content: "\ea1c";
}
.cpt-286:before {
  content: "\ea1d";
}
.cpt-287:before {
  content: "\ea1e";
}
.cpt-288:before {
  content: "\ea1f";
}
.cpt-289:before {
  content: "\ea20";
}
.cpt-290:before {
  content: "\ea21";
}
.cpt-291:before {
  content: "\ea22";
}
.cpt-292:before {
  content: "\ea23";
}
.cpt-293:before {
  content: "\ea24";
}
.cpt-294:before {
  content: "\ea25";
}
.cpt-295:before {
  content: "\ea26";
}
.cpt-296:before {
  content: "\ea27";
}
.cpt-297:before {
  content: "\ea28";
}
.cpt-298:before {
  content: "\ea29";
}
.cpt-299:before {
  content: "\ea2a";
}
.cpt-300:before {
  content: "\ea2b";
}
.cpt-301:before {
  content: "\ea2c";
}
.cpt-302:before {
  content: "\ea2d";
}
.cpt-303:before {
  content: "\ea2e";
}
.cpt-304:before {
  content: "\ea2f";
}
.cpt-305:before {
  content: "\ea30";
}
.cpt-306:before {
  content: "\ea31";
}
.cpt-307:before {
  content: "\ea32";
}
.cpt-308:before {
  content: "\ea33";
}
.cpt-309:before {
  content: "\ea34";
}
.cpt-310:before {
  content: "\ea35";
}
.cpt-311:before {
  content: "\ea36";
}
.cpt-312:before {
  content: "\ea37";
}
.cpt-313:before {
  content: "\ea38";
}
.cpt-314:before {
  content: "\ea39";
}
.cpt-315:before {
  content: "\ea3a";
}
.cpt-316:before {
  content: "\ea3b";
}
.cpt-317:before {
  content: "\ea3c";
}
.cpt-318:before {
  content: "\ea3d";
}
.cpt-319:before {
  content: "\ea3e";
}
.cpt-320:before {
  content: "\ea3f";
}
.cpt-321:before {
  content: "\ea40";
}
.cpt-322:before {
  content: "\ea41";
}
.cpt-323:before {
  content: "\ea42";
}
.cpt-324:before {
  content: "\ea43";
}
.cpt-325:before {
  content: "\ea44";
}
.cpt-326:before {
  content: "\ea45";
}
.cpt-327:before {
  content: "\ea46";
}
.cpt-328:before {
  content: "\ea47";
}
.cpt-329:before {
  content: "\ea48";
}
.cpt-330:before {
  content: "\ea49";
}
.cpt-331:before {
  content: "\ea4a";
}
.cpt-332:before {
  content: "\ea4b";
}
.cpt-333:before {
  content: "\ea4c";
}
.cpt-334:before {
  content: "\ea4d";
}
.cpt-335:before {
  content: "\ea4e";
}
.cpt-336:before {
  content: "\ea4f";
}
.cpt-337:before {
  content: "\ea50";
}
.cpt-338:before {
  content: "\ea51";
}
.cpt-339:before {
  content: "\ea52";
}
.cpt-340:before {
  content: "\ea53";
}
.cpt-341:before {
  content: "\ea54";
}
.cpt-342:before {
  content: "\ea55";
}
.cpt-343:before {
  content: "\ea56";
}
.cpt-344:before {
  content: "\ea57";
}
.cpt-345:before {
  content: "\ea58";
}
.cpt-346:before {
  content: "\ea59";
}
.cpt-347:before {
  content: "\ea5a";
}
.cpt-348:before {
  content: "\ea5b";
}
.cpt-349:before {
  content: "\ea5c";
}
.cpt-350:before {
  content: "\ea5d";
}
.cpt-351:before {
  content: "\ea5e";
}
.cpt-352:before {
  content: "\ea5f";
}
.cpt-353:before {
  content: "\ea60";
}
.cpt-354:before {
  content: "\ea61";
}
.cpt-355:before {
  content: "\ea62";
}
.cpt-356:before {
  content: "\ea63";
}
.cpt-357:before {
  content: "\ea64";
}
.cpt-358:before {
  content: "\ea65";
}
.cpt-359:before {
  content: "\ea66";
}
.cpt-360:before {
  content: "\ea67";
}
.cpt-361:before {
  content: "\ea68";
}
.cpt-362:before {
  content: "\ea69";
}
.cpt-363:before {
  content: "\ea6a";
}
.cpt-364:before {
  content: "\ea6b";
}
.cpt-365:before {
  content: "\ea6c";
}
.cpt-366:before {
  content: "\ea6d";
}
.cpt-367:before {
  content: "\ea6e";
}
.cpt-368:before {
  content: "\ea6f";
}
.cpt-369:before {
  content: "\ea70";
}
.cpt-370:before {
  content: "\ea71";
}
.cpt-371:before {
  content: "\ea72";
}
.cpt-372:before {
  content: "\ea73";
}
.cpt-373:before {
  content: "\ea74";
}
.cpt-374:before {
  content: "\ea75";
}
.cpt-375:before {
  content: "\ea76";
}
